<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Shorter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1 class="body-primary-border-subtle">Welcom to <span class="title text-primary">Links Shorter</span></h1>
    <form action="/" method="post">
        <div class="input-group">
            <label for="link" class="input-group-text">Put your URL</label>
            <input type="url" name="link" id="link" class="form-control">
        </div>
        <input type="submit" value="Valider" class="btn btn-primary w-100">
    </form>
    <% if (locals.shortLink) { %>
        <a href="<%= shortLink %>" class="link" target="_blank"> <%= shortLink %></a>
    <% } %>
</body>
</html>